:host{
	display: flex;
	justify-content: center;
}
h1{
	text-align: center;
	padding: 20px;
}
.pokemons-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

	&>div{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&>img{
			width: 150px;
		}
	}
}
.selected-type{
	font-weight: bold;
}